body
{
    font-family: Futura, Trebuchet MS, Arial, sans-serif;
    background-color: cornsilk
    /* width: 100vw;
    height: 100vh;
    background-image: url(./img/background.jpeg);
    background-size: cover; */

}

.title
{
    font-size: 50px;
    color: black;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: rgb(103, 103, 103);
    /* background-repeat: repeat-y; */
    /* font-family: monaco, Consolas, "Lucida Console", monospace; */
    /* background-color: rgb(109,109,100); */
}
.subtitle
{
    font-size: 30px;
    color: black;
    text-align: center;
    margin-top: 0px;
    margin-bottom: .5em;
    background-color: rgb(178, 190, 181)
}

.recipe_list
{
    display: block;
    list-style: none;
    padding: .5em;
    margin: .5em;
    border: 5px solid black;
    text-align: center;
    background-color: rgb(226, 229, 222);
}

.recipe_menu
{
    padding: 10px;
    margin: 20px;
    border: 5px solid black;
    text-align: center;
    background-color: or;

}
/* unvisited link */
a:link {
    color:rgb( 51, 102, 153);
    text-decoration: none;
    /* font-weight: bold; */
  }
  
  /* visited link */
  a:visited {
    color: rgb( 51, 102, 153);
    text-decoration: none;
    /* font-weight: bold; */
  }
  
  /* mouse over link */
  a:hover {
    color: red;
    text-decoration: none;
    font-size: 20px;
  }
  
  /* selected link */
  a:active {
    color: rgb( 51, 102, 153);
    text-decoration: none;
  }

.image
{
    text-align: center;
    margin: 1em;
}



